{% extends 'shortener/base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card text-center">
              <div class="card-header">
                Shorten your URL
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="urlInput">Enter Url:</label>
                    <input type="text" class="form-control" id="urlInput" placeholder="Enter URL" autocomplete="new-password">
                  </div>
                  <div class="form-group">
                    <label for="daysToExpiration">Days to expiration:</label>
                    <input type="text" class="form-control" id="daysToExpiration" placeholder="Number of days" autocomplete="new-password">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% comment %}
    <form method="post">
        {% csrf_token %}
        <label for="url">Url: </label>
        <input type="text" id="url" name="url">
        <label for="days" >Days: </label>
        <input type="text" name="days" id="days">
        <input type="submit" value="Submit">
    </form>
    <p>Results:</p>
    {% if url_object %}
        {{ url_object.url_id }}
        {{ url_object.url }}
        {{ url_object.date_created }}
        {{ url_object.days_to_expiry }}
    {% endif %}
{% endcomment %}
{% endblock %}